body {
    margin: 0 auto;
    background: #313131;
}

.wrapper_head .head_left {
    float: left;

    border: 1px solid transparent;
    background: #222;
    cursor: pointer;
}

.wrapper_head .head_right {
    float: right;
    padding: 10px 22px;
    margin-top: 10px;

    background: #2db4a5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: white;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    border-radius: 49px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

.wrapper_head {
    padding: 15px;

    color: white;
    background: #222;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.wrapper_head label {
    display: inline-block;
}

.wrapper_head label.logo2 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.03em;
}

.wrapper_head2 {
    padding: 18px 0 18px 0;
    text-align: center;
}

.wrapper_head2 a {
    display: inline-block;
    padding: 10px 22px;
    margin-right: 10px;
    margin-top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: white;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    border-radius: 49px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

.wrapper_head2 a.head_green {
    background: #2db4a5;
}

.wrapper_head2 a.head_red {
    background: #ea5455;
}
