body {
    margin: 0 auto;
    background: #313131;
}

.wrapper_head {
    padding: 15px;

    color: white;
    background: #222;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.wrapper_head label {
    display: inline-block;
}

.wrapper_head label.logo2 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.03em;
}

.wrapper_head2 {
    padding: 18px 0 18px 0;
    text-align: center;
}

.wrapper_head2 a {
    display: inline-block;
    padding: 10px 22px;
    margin-right: 10px;
    margin-top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: white;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    border-radius: 49px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

.wrapper_head2 a.head_green {
    background: #2db4a5;
}

.wrapper_head2 a.head_red {
    background: #ea5455;
}

.marquee_x {
    max-width: 1138px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    border-left: 4px solid #f74768;
}

.marquee {
}

.marquee a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.marquee span {
    color: white;
}

.wrapper_maincontent {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.box_show2 {
    margin-top: 20px;
}

.box_show2 img.show_img {
    display: block;
    width: 100%;
    margin-bottom: 12px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.box_show2 .info_1 {
    font-size: 14px;
    color: #ffffff;
}

.box_show2 .info_1 label {
    padding: 3px 8px 3px 8px;
    margin-right: 8px;

    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.9;
}

.box_show2 .info_1 label.info_1_1 {
    background: #174780;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.box_show2 .info_1 label.info_1_2 {
    background: #787878;
    font-size: 12px;
    opacity: 1;
}

.box_show2 .info_1 .info_span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
}

.box_show2 .info_1 .info_span img {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 15px;
}

.box_show2 .info_1 .info_span_date img {
    top: 2px;;
}

.box_show2 .info_1 .choice_love {
    position: relative;
    top: 4px;
    left: -10px;
    float: right;
}

.box_show2 .info_1 .choice_love img {
    width: 16px;
}

.box_show2 .info_2 {
    padding: 8px 2px 8px 2px ;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.box_show2 .info_2 a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.box_show2 .info_2 .info_2_desc {
    margin-top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.page_show {
    margin-top: 18px;
    text-align: center;
}

.page_show a {
    display: inline-block;

    text-decoration: none;
    background: #f3f2f7;
    color: #6b7280;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.page_show > a {
    padding: 12px;

    font-size: 16px;
    height: 16px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
}

.page_show .left-arrow {
}

.page_show .page_num {
    display: inline-block;
    position: relative;
    top: 8px;
    height: 30px;
    margin: 0px 10px 0px 10px;

    background: #f3f2f7;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.page_show .page_num a {
    position: relative;
    top: -8px;
    padding: 6px 16px 6px 16px;
}

.page_show .page_num a:first-child {
    -webkit-border-top-left-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.page_show .page_num a:last-child {
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomright: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.page_show .page_num label {
    display: inline-block;
    position: relative;
    top: -8px;
    padding: 14px;
    height: 16px;

    background: #2db4a5;
    color: white;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
}

.overlay .btn div {
    border: none 20px #000000;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.overlay{
	background-color: rgba(0,0,0,.8);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: block;
	 display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center
	}
.overlay .box{
	flex: 0 1 auto;
	margin: 10px;
	color: #FFF;
	background-color: #ff318e;
	font-size:2em;
	line-height: 2em;
	font-weight: bold;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
  }
.overlay .btn{
	flex: 1 1 100%;
	margin-top: 30px;
	text-align: center;
	cursor:pointer;
	}
.overlay .btn div{
	font-size: 0.9em;
	font-weight: bold;
	color: #ff318e;
	background-color: #FEFEFE;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.box_show ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.box_showword{
	clear: both;
	float: left;
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	color: var(--txt-color);
	height: 50px;
	overflow: hidden;
	margin-bottom: 20px;
	}
.box_showword.more{
	height: auto;
}

.showmore span{
    color: white;
    cursor:pointer;}

.viedo video {
    display: none;
}

.video_play {
    position: relative;
    width: 40px;
    left: 45%;
    top: 160px;

}

.viewvedio{
	z-index: 2;
	color: #FFF;
	background-color: black;
	height: 280px;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
	font-size: 1.5em;
	bottom: 0px;
        /*
	padding-top: 80px;
	background-image: url(../img/icon_vedio.png);
	background-repeat: no-repeat;
	background-position: center 50%;
        */
}
